{% macro toc_subs(indent, sections) -%}
{% for section in sections -%}
{{indent}}- [{{ section['title'] }}](#{{ section['title'] | replace(' ', '-')| replace('--', '-') }})
{% if section['sections'] is defined -%}
{{ toc_subs(indent + '  ', section['sections']) }}
{% endif -%}
{% endfor -%}
{% endmacro -%}
{% macro process_txts(txts) -%}
{% for txt in txts -%}
{{ txt }}
{% endfor -%}
{% endmacro -%}
{% macro display_section(heading_level, sections) -%}
{% for section in sections -%}
{{ heading_level }} {{ section['title'] }}

{% if section['pre-txts'] is defined -%}
{{ process_txts(section['pre-txts']) -}}

{% endif %}
{% if section['sections'] is defined -%}
{{ display_section(heading_level + '#', section['sections']) -}}
{% endif -%}
{% if section['post-txts'] is defined -%}
{{ process_txts(section['post-txts']) -}}

{% endif -%}
{% endfor -%}
{% endmacro -%}
Table of Contents

{% for section in document['sections'] -%}
- [{{ section['title'] }}](#{{ section['title'] | replace(' ', '-')| replace('--', '-') }})
{% if section['sections'] is defined -%}
{{ toc_subs('  ', section['sections']) -}}
{% endif -%}
{% endfor %}
{{ display_section('##', document['sections']) -}}
